@charset "UTF-8";
/*   Author:  Pit Orel Website: https://vk.com/html_css_verstka_saitov Github:  https://github.com/pit6262 Skype:   hostings1  */
/* NORMALIZE */
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { margin: 0px; padding: 0px; font-family: Arial, Tahoma, sans-serif; line-height: 1; background-color: #ffffff; height: 100%; position: relative; font-size: 14px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ""; content: none; }

q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px; }

html { height: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }

input, textarea { color: #333; outline: none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none; }

input[type="button"], input[type="submit"] { cursor: pointer; -webkit-appearance: none; outline: none; }

input[type="search"] { -webkit-appearance: none; }

::-ms-clear { width: 0; height: 0; }

button { cursor: pointer; -webkit-appearance: none; outline: none; }

td, form { margin: 0px; padding: 0px; }

a { color: #000100; -webkit-transition: all 0.3s linear; transition: all 0.3s linear; text-decoration: none; outline: none; -webkit-tap-highlight-color: transparent; -webkit-tap-highlight-color: transparent; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after, .wrapper:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

body { color: #222; font: 400 10px Arial, Arial, sans-serif; background: #FFF; }

/* MAIN STYLES */
/* ================================================ */
.main-wrapper { padding: 0; min-width: 320px; position: relative; overflow: hidden; opacity: 1; min-height: 100%; }

img { display: block; max-width: 100%; }

span { display: inline-block; }

/* text position */
.text-left { text-align: left !important; }

.text-center { text-align: center !important; }

.text-right { text-align: right !important; }

/* Icons ====================== */
.ic { position: relative; display: inline-block; vertical-align: middle; }

/* Button ====================== */
.btn { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; color: #fff; background-color: #1f4ba5; height: 30px; padding: 0 25px; border-radius: 25px; font-family: Arial, Arial, sans-serif; font-size: 12px; font-weight: 400; }

/* Header ====================== */
.header { height: 80px; background-color: #fff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 0 30px; border-bottom: 1px solid #ececec; }

.logo { margin-right: 38px; padding-bottom: 4px; }

.main-menu { list-style: none; margin-right: 70px; display: -webkit-box; display: -ms-flexbox; display: flex; }
.main-menu__link { color: #222; font-size: 14px; display: block; line-height: 80px; padding: 0 21px; }
.main-menu__link [class*="icon"] { margin-left: 3px; color: #1f4ba5; font-size: 9px; }

.dropdown { position: relative; }
.dropdown:hover .dropdown-content { opacity: 1; margin-top: 0; left: -10px; visibility: visible; }
.dropdown--right:hover .dropdown-content { left: auto; right: -10px; }
.dropdown--right .dropdown-content:before { right: 30px; z-index: 1; }
.dropdown--right .dropdown-content:after { right: 29px; }
.dropdown--white .dropdown-content { background: #fff; border: 1px solid #ececec; padding: 0; }
.dropdown--white .dropdown-content:before { border-bottom-color: #fff; }
.dropdown--white .dropdown-content:after { content: ""; display: block; position: absolute; bottom: 100%; width: 0px; height: 0px; border-style: solid; border-width: 0 8px 9px 8px; border-color: transparent transparent #ececec transparent; }

.dropdown-content { position: absolute; background: #222; padding: 30px; width: 240px; z-index: 99; top: 100%; left: -10000px; visibility: hidden; opacity: 0; margin-top: 30px; -webkit-transition: opacity 0.3s, margin-top 0.5s; transition: opacity 0.3s, margin-top 0.5s; }
.dropdown-content::before { content: ""; display: block; position: absolute; bottom: 100%; width: 0px; height: 0px; border-style: solid; border-width: 0 7px 7px 7px; border-color: transparent transparent #222 transparent; }

.dropdown-menu { list-style: none; }
.dropdown-menu__item { margin-bottom: 8px; }
.dropdown-menu__item:last-child { margin-bottom: 0; }
.dropdown-menu__link { font-size: 12px; line-height: 16px; color: #bcbcbc; }
.dropdown-menu__link:hover { color: #fff; }

.search { position: relative; margin-right: 48px; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
.search__input { width: 100%; height: 30px; background-color: #f6f6f6; padding: 0 40px 0 20px; color: #222; font-family: "PT Serif", sans-serif; font-size: 12px; border: none; border-radius: 15px; }
.search__input:-ms-input-placeholder { font-style: italic; color: #868686; }
.search__input::-webkit-input-placeholder { font-style: italic; color: #868686; }
.search__input::-ms-input-placeholder { font-style: italic; color: #868686; }
.search__input::placeholder { font-style: italic; color: #868686; }
.search__button { position: absolute; top: 4px; right: 3px; font-family: "icomoon" !important; background: transparent; border: none; font-size: 18px; }

.location { margin-right: 47px; }
.location__link { color: #868686; font-size: 12px; }
.location [class*="icon"] { color: #222; font-size: 20px; margin-right: 6px; }

.profile-menu { list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; margin-right: -17px; }
.profile-menu__link { display: block; line-height: 80px; padding: 0 17px; }
.profile-menu__link [class*="icon"] { color: #222; font-size: 18px; vertical-align: middle; }
.profile-menu .dropdown-content { width: auto; }

.basket { position: relative; line-height: 1.4; }
.basket .badge { position: absolute; top: -8px; right: -10.5px; }

.b-price { color: #222; font-family: "Oswald", sans-serif; margin-left: 13px; vertical-align: middle; font-size: 12px; font-weight: 700; letter-spacing: 1.2px; }

.badge { min-width: 16px; height: 16px; background-color: #1f4ba5; border-radius: 50%; padding: 0 4px; display: inline-block; vertical-align: middle; line-height: 17px; text-align: center; color: #fff; font-size: 9px; }

.user-menu { width: 180px; list-style: none; }
.user-menu__item { border-bottom: 1px solid #ececec; }
.user-menu__item:last-child { border-bottom: none; }
.user-menu__link { display: -webkit-box; display: -ms-flexbox; display: flex; color: #222; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 12px; line-height: 40px; padding: 0 20px; }
.user-menu__link [class*="icon"] { color: #ccc; font-size: 16px; margin-right: 15px; }
.user-menu__link .badge { margin-left: auto; }

.cart { width: 300px; }
.cart-list { list-style: none; }
.cart-list__item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-bottom: 1px solid #ececec; padding: 10px; }
.cart-list__img { width: 60px; margin-right: 20px; -webkit-box-flex: 0; -ms-flex: none; flex: none; text-align: center; }
.cart-list__img img { display: inline-block; min-width: 100%; }
.cart-list__info { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
.cart-list__info .product__title { margin-bottom: 10px; }
.cart-list__details { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.cart-list__details .price { margin-right: 10px; }
.cart-list__delete { padding: 0 10px 0 0; margin-left: 20px; -webkit-box-flex: 0; -ms-flex: none; flex: none; color: #b6b6b6; }
.cart-list__delete a { color: inherit; }
.cart-list__delete a:hover { color: #222; }
.cart-footer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 20px 10px; }
.cart-footer .total { width: 60px; -webkit-box-flex: 0; -ms-flex: none; flex: none; margin-right: 20px; text-align: right; }
.cart-footer .price { margin-right: 28px; }

.price { color: #222; font-family: "Oswald", sans-serif; font-size: 12px; font-weight: 700; letter-spacing: 1.2px; }
.price--red { color: #ff3f2b; }

.total { color: #b8b8b8; font-family: "PT Serif", sans-serif; font-size: 12px; font-style: italic; line-height: 18px; }

.product__title { color: #222; font-size: 12px; font-weight: 400; line-height: 16px; }
.product__title a { color: inherit; }
.product__title a:hover { text-decoration: underline; }
.product__details { color: #b8b8b8; font-family: "PT Serif", sans-serif; font-size: 12px; font-style: italic; }

/* header-inner ====================== */
.header-inner { position: relative; background-position: center right; background-size: cover; background-repeat: no-repeat; padding: 20px 30px; height: 180px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.header-inner__title { color: #222; font-size: 48px; font-weight: 400; }
.header-inner .category { display: block; }
.header-inner .bread-crumbs { position: absolute; left: 30px; top: 50%; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); }

.bread-crumbs { list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; }
.bread-crumbs__item { margin-right: 4px; }
.bread-crumbs__link { color: #868686; font-size: 12px; font-weight: 400; }
.bread-crumbs__link:hover { color: #222; }

.category { color: #1f4ba5; font-family: "Oswald"; font-size: 12px; font-weight: 700; text-transform: uppercase; letter-spacing: 1.2px; margin-bottom: 9px; }

.filter { display: -webkit-box; display: -ms-flexbox; display: flex; border-bottom: 1px solid #ececec; min-height: 60px; }
.filter-sidebar { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 15px 30px; width: 240px; -webkit-box-flex: 0; -ms-flex: none; flex: none; border-right: 1px solid #ececec; }
.filter-content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 15px 30px; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
.filter__title { color: #979797; font-size: 12px; line-height: 16px; }
.filter-list { list-style: none; margin-left: auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.filter-list__item { margin-left: 10px; }
.filter-list__item:first-child { margin-left: 0; }
.filter-list__item.active .filter-list__link { color: #222; }
.filter-list__link { font-size: 16px; color: #d5d5d5; }
.filter-list__link:hover { color: #888; }

.toggle-filter { font-size: 16px; color: #d5d5d5; background-color: transparent; border: none; padding: 0; margin-right: 20px; }
.toggle-filter:hover { color: #1f4ba5; -webkit-transition: all 0.3s; transition: all 0.3s; }
.toggle-filter .sr-only { display: none; }

.sort { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; overflow: hidden; }
.sort input { position: absolute; left: -999px; }
.sort input:checked + .sort__item { color: #fff; background-color: #222; padding: 0 20px; }
.sort input:checked + .sort__item [class*="icon"] { color: #fff; }
.sort input:checked + .sort__item [class*="icon"] .path1:before { content: ""; }
.sort__item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; height: 30px; margin-left: 20px; font-size: 12px; font-weight: 400; line-height: 16px; border-radius: 20px; cursor: pointer; }
.sort__item [class*="icon"] { color: #d5d5d5; margin-left: 5px; }

.hide { position: absolute; left: 0; top: 0; height: 0; width: 0; overflow: hidden; z-index: -1; opacity: 0; visibility: hidden; }

.tab-cont { opacity: 1; -webkit-transition: opacity 0.4s; transition: opacity 0.4s; visibility: visible; }
.tab-cont.hide { opacity: 0; }

.box-main { display: -webkit-box; display: -ms-flexbox; display: flex; }
.box-main .sidebar { width: 240px; -webkit-box-flex: 0; -ms-flex: none; flex: none; border: 1px solid #ececec; }
.box-main .content { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.accordeon { border-bottom: 1px solid #ececec; }
.accordeon__head { height: 70px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 15px 30px; border-top: 1px solid #ececec; cursor: pointer; }
.accordeon__head.open [class*="icon"]:before { content: ""; }
.accordeon__head:first-child { border-top: none; }
.accordeon__head [class*="icon"] { color: #b8b8b8; font-size: 18px; margin-left: 10px; }
.accordeon__body { list-style: none; padding: 0 30px 35px; }
.accordeon__title { font-family: "Oswald"; font-size: 14px; font-weight: 700; text-transform: uppercase; letter-spacing: 1.4px; }

.check-list { list-style: none; }
.check-list__item { margin-bottom: 10px; }
.check-list__item:last-child { margin-bottom: 0; }
.check-list__text { color: #222; font-size: 12px; font-weight: 400; line-height: 18px; cursor: pointer; }
.check-list--column .check-list__item { display: inline-block; vertical-align: top; margin-right: -4px; width: 50%; padding-right: 10px; }

/*# sourceMappingURL=style.css.map */