@import mixins
@import media
@import sprites
@import normalize


$font-weight: 400
$font-size: 14px
$line-height: 1.4
$font-family: Arial 
$font-family2: 'Oswald'
$font-family3: 'PT Serif'
$color: #222
$color-blue: #1f4ba5
$color-red: #ff3f2b


body 	
	color: $color
	font: $font-weight $font-size/$line-height $font-family, Arial, sans-serif
	background: #FFF

/* MAIN STYLES
/* ================================================ */

.main-wrapper
	padding: 0
	min-width: 320px
	position: relative 
	overflow: hidden
	opacity: 1
	min-height: 100% 

img
	display: block
	max-width: 100%

span 
	display: inline-block

/* text position */

.text-left
	text-align: left !important

.text-center
	text-align: center !important

.text-right
	text-align: right !important


/* Icons
     ====================== */

.ic 
	position: relative
	display: inline-block
	vertical-align: middle
	// background: $icons no-repeat

// @each $i in next, prev
// 	.ic--#{$i}
// 		+s(ic--#{$i})


// font-family: 'Oswald', sans-serif;
// font-family: 'PT Serif', serif;
// font-family: 'Varela Round', sans-serif;



/* Button
     ====================== */

.btn
	display: inline-flex
	align-items: center
	justify-content: center
	color: #fff
	background-color: $color-blue
	height: 30px
	padding: 0 25px
	border-radius: 25px
	font-family: $font-family, Arial, sans-serif
	font-size: 12px
	font-weight: 400



/* Header
     ====================== */

.header
	height: 80px
	background-color: #fff
	display: flex
	align-items: center
	justify-content: space-between
	padding: 0 30px
	border-bottom: 1px solid #ececec 

.logo
	margin-right: 38px
	padding-bottom: 4px

.main-menu
	list-style: none
	margin-right: 70px
	display: flex
	&__link
		color: $color
		font-size: 14px
		display: block
		line-height: 80px
		padding: 0 21px
		[class*="icon"]
			margin-left: 3px
			color: $color-blue
			font-size: 9px

.dropdown
	position: relative
	&:hover
		.dropdown-content
			opacity: 1
			margin-top: 0
			left: -10px
			visibility: visible
	&--right
		&:hover
			.dropdown-content
				left: auto
				right: -10px
		.dropdown-content
			&:before
				right: 30px
				z-index: 1
			&:after
				right: 29px
	&--white
		.dropdown-content
			background: #fff
			border: 1px solid #ececec
			padding: 0
			&:before
				border-bottom-color: #fff
			&:after
				content: ''
				display: block
				position: absolute
				bottom: 100%
				+arr(16, 9, #ececec, t)

.dropdown-content
	position: absolute
	background: $color
	padding: 30px
	width: 240px
	z-index: 99
	top: 100%
	left: -10000px
	visibility: hidden
	opacity: 0
	margin-top: 30px
	transition: opacity 0.3s, margin-top 0.5s
	&::before
		content: ''
		display: block
		position: absolute
		bottom: 100%
		+arr(14, 7, $color, t)
		// content: ''
		// position: absolute
		// bottom: 100%
		// border-width: 14px
		// border-style: solid
		// border-color: transparent
		// border-bottom-color: #000

.dropdown-menu
	list-style: none
	&__item
		margin-bottom: 8px
		&:last-child
			margin-bottom: 0
	&__link
		font-size: 12px
		line-height: 16px
		color: #bcbcbc
		&:hover
			color: #fff

.search
	position: relative
	margin-right: 48px
	flex: 1
	&__input
		width: 100%
		height: 30px
		background-color: #f6f6f6
		padding: 0 40px 0 20px
		color: $color
		font-family: "PT Serif", sans-serif
		font-size: 12px
		border: none
		border-radius: 15px
		+placeholder
			font-style: italic
			color: #868686
	&__button
		position: absolute
		top: 4px
		right: 3px
		font-family: 'icomoon' !important
		background: transparent
		border: none
		font-size: 18px

.location
	margin-right: 47px
	&__link
		color: #868686
		font-size: 12px
	[class*="icon"]
		color: $color
		font-size: 20px
		margin-right: 6px

.profile-menu
	list-style: none
	display: flex
	margin-right: -17px
	&__link
		display: block
		line-height: 80px
		padding: 0 17px
		[class*="icon"]
			color: $color
			font-size: 18px
			vertical-align: middle
	.dropdown-content
		width: auto

.basket
	position: relative
	line-height: $line-height
	.badge
		position: absolute
		top: -8px
		right: -10.5px

.b-price
	color: $color
	font-family: $font-family2, sans-serif
	margin-left: 13px
	vertical-align: middle
	font-size: 12px
	font-weight: 700
	letter-spacing: 1.2px

.badge
	min-width: 16px
	height: 16px
	background-color: $color-blue
	border-radius: 50%
	padding: 0 4px
	display: inline-block
	vertical-align: middle
	line-height: 17px
	text-align: center
	color: #fff
	font-size: 9px

.user-menu
	width: 180px
	list-style: none
	&__item
		border-bottom: 1px solid #ececec
		&:last-child
			border-bottom: none
	&__link
		display: flex
		color: $color
		align-items: center
		font-size: 12px
		line-height: 40px
		padding: 0 20px
		[class*="icon"]
			color: #ccc
			font-size: 16px
			margin-right: 15px
		.badge
			margin-left: auto

.cart
	width: 300px
	&-list
		list-style: none
		&__item
			display: flex
			align-items: center
			border-bottom: 1px solid #ececec
			padding: 10px
		&__img
			width: 60px
			margin-right: 20px
			flex: none
			text-align: center
			img
				display: inline-block
				min-width: 100%
		&__info
			flex: 1
			.product__title
				margin-bottom: 10px
		&__details
			display: flex
			align-items: center
			justify-content: space-between
			.price
				margin-right: 10px
		&__delete
			padding: 0 10px 0 0
			margin-left: 20px
			flex: none
			color: #b6b6b6
			a
				color: inherit
				&:hover
					color: $color
	&-footer
		display: flex
		align-items: center
		padding: 20px 10px
		.total
			width: 60px
			flex: none
			margin-right: 20px
			text-align: right
		.price
			margin-right: 28px



.price
	color: $color
	font-family: $font-family2, sans-serif
	font-size: 12px
	font-weight: 700
	letter-spacing: 1.2px
	&--red
		color: $color-red

.total
	color: #b8b8b8
	font-family: $font-family3, sans-serif
	font-size: 12px
	font-style: italic
	line-height: 18px

.product
	&__title
		color: $color
		font-size: 12px
		font-weight: 400
		line-height: 16px
		a
			color: inherit
			&:hover
				text-decoration: underline
	&__details
		color: #b8b8b8
		font-family: $font-family3, sans-serif
		font-size: 12px
		font-style: italic




/* header-inner
     ====================== */



.header-inner
	position: relative
	background-position: center right
	background-size: cover
	background-repeat: no-repeat
	padding: 20px 30px
	height: 180px
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column
	&__title
		color: $color
		font-size: 48px
		font-weight: 400
	.category
		display: block
	.bread-crumbs
		position: absolute
		left: 30px
		top: 50%
		transform: translate(0, -50%)

.bread-crumbs
	list-style: none
	display: flex
	&__item
		margin-right: 4px
	&__link
		color: #868686
		font-size: 12px
		font-weight: 400
		&:hover
			color: $color

.category
	color: $color-blue
	font-family: $font-family2
	font-size: 12px
	font-weight: 700
	text-transform: uppercase
	letter-spacing: 1.2px
	margin-bottom: 9px

.filter
	display: flex
	border-bottom: 1px solid #ececec
	min-height: 60px
	&-sidebar
		display: flex
		align-items: center
		padding: 15px 30px
		width: 240px
		flex: none
		border-right: 1px solid #ececec
	&-content
		display: flex
		align-items: center
		padding: 15px 30px
		flex: 1
	&__title
		color: #979797
		font-size: 12px
		line-height: 16px
	&-list
		list-style: none
		margin-left: auto
		display: flex
		align-items: center
		&__item
			margin-left: 10px
			&:first-child
				margin-left: 0
			&.active .filter-list__link
				color: $color
		&__link
			font-size: 16px
			color: #d5d5d5
			&:hover
				color: #888

.toggle-filter
	font-size: 16px
	color: #d5d5d5
	background-color: transparent
	border: none
	padding: 0
	margin-right: 20px
	&:hover
		color: $color-blue
		transition: all 0.3s
	.sr-only
		display: none

.sort
	display: flex
	position: relative
	overflow: hidden
	input
		position: absolute
		left: -999px
	input:checked + .sort__item
		color: #fff
		background-color: $color
		padding: 0 20px
		[class*="icon"]
			color: #fff
			.path1:before
				content: '\e901'
	&__item
		display: flex
		align-items: center
		justify-content: center
		text-align: center
		height: 30px
		margin-left: 20px
		font-size: 12px
		font-weight: 400
		line-height: 16px
		border-radius: 20px
		cursor: pointer
		[class*="icon"]
			color: #d5d5d5
			margin-left: 5px

.hide
	position: absolute
	left: 0
	top: 0
	height: 0
	width: 0
	overflow: hidden
	z-index: -1
	opacity: 0
	visibility: hidden

.tab-cont
	opacity: 1
	transition: opacity 0.4s
	visibility: visible
	&.hide
		opacity: 0

.box-main
	display: flex
	.sidebar
		width: 240px
		flex: none
		border: 1px solid #ececec
	.content
		flex: 1

.accordeon
	border-bottom: 1px solid #ececec
	&__head
		height: 70px
		display: flex
		align-items: center
		justify-content: space-between
		padding: 15px 30px
		border-top: 1px solid #ececec
		cursor: pointer
		&.open
			[class*="icon"]:before
				content: '\e904'
		&:first-child
			border-top: none
		[class*="icon"]
			color: #b8b8b8
			font-size: 18px
			margin-left: 10px
	&__body
		list-style: none
		padding: 0 30px 35px
	&__title
		font-family: $font-family2
		font-size: 14px
		font-weight: 700
		text-transform: uppercase
		letter-spacing: 1.4px

.check-list
	list-style: none
	&__item
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0
	&__text
		color: $color
		font-size: 12px
		font-weight: 400
		line-height: 18px
		cursor: pointer
	&--column
		.check-list__item
			display: inline-block
			vertical-align: top
			margin-right: -4px
			width: 50%
			padding-right: 10px